<div class="container">
  <h2>Reactive forms Exam</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="userid">User id</label>
      <input type="text" name="userid" class="form-control" formControlName="userid">
      <em *ngIf="userid.error?.required && userid.touched" class="alert">
        userid 입력-
      </em>
      <em *ngIf="userid.error?.pattern && userid.touched" class="alert">
        user id는 영문 or 숫자 4자리 이상 10자리 이하
      </em>
    </div>

    <div formGroupName="passwordGroup">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" formControlName="password">
        <em *ngIf="password.error?.pattern && password.touched" class="alert">
          패스워드는 영문 또는 숫자 4자리 이상 10자리 이하.
        </em>
        <em *ngIf="password.error?.required && password.touched" class="alert">
          패스워드 입력.
        </em>
      </div>
      <div class="form-group">
        <label for="confirmPassword">confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword">
        <em *ngIf="confirmPassword.errors?.required && confirmPassword.touched" class="alert">
          패스워드 입력.
        </em>
        <em *ngIf="passwordGroup.errors?.match && confirmPassword.touched && !confirmPassword.errors?.required" class="alert">
          패스워드가 일지하지 않습니다.
        </em>
      </div>
    </div>
    
    <div formArrayName="hobbies">
      <div *ngFor="let hobby of hobbies.controls; let i=index">
        <div class="form-group">
          <label for="hobby{{i}}">hobby {{i}}</label>
          <input type="text" name="hobby{{i}}" class="form-control" [formControlName]="i">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">Submit</button>
  </form>

  <pre>{{ userForm.value | json }}</pre>
  <pre>{{ userForm.status }}</pre>
</div>