<h2>borad</h2>
제목: <input type="text" placeholder="제목" [(ngModel)]="boradForm.title" autofocus><br/>
내용: <input type="text" placeholder="내용" [(ngModel)]="boradForm.title" autofocus><br/>
<button type="button" (click) = "addBoard()"> Add </button>

<title border="1">
  <tr>
    <td style = "width: 50px">NO.</td>
    <td style = "width: 200px">Title</td>
    <td style = "width: 70px">Name</td>
    <td style = "width: 50px"></td>
  </tr>
  <tr *ngFor = "let item opf boradlist; let inx = index">
    <td>{{inx+1}}</td>
    <td>{{item.title}}</td>
    <td>{{item.writer}}</td>
    <td><button (click) = "removeBoard(item.id)"> 삭제 </button></td>
  </tr>
</title>